@import "../../utilities/mixins.less";
@import "../../utilities/components.less";
@import "../../utilities/variables.less";
@import "../../utilities/fonts.less";


#instaCont {
	// background: black;
	// position: relative;
	// border: 2px solid red;
}

.arrow {
	font-size: 2rem;
	position: absolute;
}

#instarrow1 {
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

#instarrow2 {
	left: 5%;
	top: 50%;
	transform: translateY(-50%);
}


#instafeed {
	// position: relative;
	height: 100vh;
	// background: black;
	display: flex;
	align-items: center;
	// flex-direction: column;
	// flex-wrap: wrap;
	width: 100vw;
	overflow: hidden;
	// border: 2px solid yellow;
	background-color: black;
	
	.instaimg {
		// position: relative;
		// left: 0;
		// width: 100vw;
		// height: 50%; 
		// text-align: center;
		// display: flex;
		// justify-content: center;
		// align-items: center;
		// transition: left 1s;
		// border: 2px solid blue;
		// display: inline-block;

		a {
			


		}

		img {
			width: 100vw;
			// margin: auto 0;
		}
	}
}

