@import "../../utilities/mixins.less";
@import "../../utilities/components.less";
@import "../../utilities/variables.less";
@import "../../utilities/fonts.less";

.insta_cont {
	position: relative;
	width: 100%;
}

.arrow_cont {
	position: absolute;
	bottom: 10%;
	width: 100%;
	display: flex;
	justify-content: space-around;

	@media only screen and (orientation: landscape) {
		justify-content: space-between;
		width: 90%;
		left: 50%;
		transform: translateX(-50%);
		bottom: 50%;
	}

	@media only screen and (min-width: 700px) {
		bottom: 6%;
	}

	@media only screen and (orientation: landscape) {
		bottom: 50%;
	}



}

#gall_right, #gall_left {
	color: white;
	font-size: 5vh;

	@media only screen and (orientation: landscape) {
		font-size: 5vw;
	}
}

#instafeed {
	height: 100vh;
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
	background-color: black;

	
	.instaimg {

		position: relative;
		left: 0;
		transition: left 1s;

		img {
			width: 90vw;
			margin-left: 5vw;
			margin-right: 5vw;

			@media only screen and (orientation: landscape) {
				width: 60vw;
				height: auto;
				margin-left: 20vw;
				margin-right: 20vw;
			}

			@media only screen and (min-width: 600px) and (orientation: landscape) {
				width: 50vw;

				margin-left: 25vw;
				margin-right: 25vw;
			}

			@media only screen and (min-width: 800px) and (orientation: landscape) {
				width: 40vw;

				margin-left: 30vw;
				margin-right: 30vw;
			}

			@media only screen and (min-width: 1000px) and (orientation: landscape) {
				width: 56vw;

				margin-left: 22vw;
				margin-right: 22vw;
			}

			@media only screen and (min-width: 1200px) and (orientation: landscape) {
				width: 44vw;

				margin-left: 28vw;
				margin-right: 28vw;
			}

		}
	}
}

