@font-face {
  font-family: "Beyond";
  src: url("../fonts/beyond_the_mountains.otf") format("opentype"),
    url("../fonts/beyond_the_mountains.ttf") format("truetype");
}

@font-face {
  font-family: "Lucida";
  src: url("../fonts/lucida_bright_regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lucida-Demi";
  src: url("../fonts/lucida_bright_demi.ttf") format("truetype");
}
