@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
.button {
  display: block;
  border: 1px solid black;
  font-family: 'Monserrat';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  outline: none;
  background: white;
  opacity: 0.6;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 1;
}
body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bentham', serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  text-shadow: none;
}
#header {
  position: fixed;
  height: 100px;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
@media only screen and (max-width: 800px) {
  #header {
    height: 66.66666667px;
  }
}
@media only screen and (min-width: 1000px) {
  #header {
    height: 140px;
  }
}
@media only screen and (min-width: 1824px) {
  #header {
    height: 160px;
  }
}
@media only screen and (min-width: 3000px) {
  #header {
    height: 250px;
  }
}
#header.scrolled {
  top: -200px;
}
@media only screen and (max-width: 766px) {
  #header.scrolled {
    height: 110px;
  }
}
.nav_logo_img {
  background-image: url("../../images/logo.png");
  margin-left: 5%;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media only screen and (min-width: 1824px) {
  .nav_logo_img {
    width: 125px;
    height: 125px;
  }
}
@media only screen and (min-width: 3000px) {
  .nav_logo_img {
    width: 145px;
    height: 145px;
  }
}
.nav {
  width: 50%;
  margin-right: 5%;
}
@media only screen and (max-width: 1200px) {
  .nav {
    width: 65%;
  }
}
@media only screen and (max-width: 700px) {
  .nav {
    display: none;
  }
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul li a {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bold;
  letter-spacing: 0.2em;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media only screen and (min-width: 1000px) {
  .nav ul li a {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 3200px) {
  .nav ul li a {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1824px) {
  .nav ul li a {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 3000px) {
  .nav ul li a {
    font-size: 3.75rem;
  }
}
.nav_icon {
  width: 30px;
  height: 30px;
}
@media only screen and (min-width: 1824px) {
  .nav_icon {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 3200px) {
  .nav_icon {
    width: 60px;
    height: 60px;
  }
}
.footer_nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (orientation: landscape) {
  .footer_nav {
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    margin-top: 5vh;
  }
}
#burger_button {
  display: none;
}
@media only screen and (max-width: 700px) {
  #burger_button {
    display: unset;
    width: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
}
#burger_button div {
  height: 2px;
  width: 40px;
  margin: 10px auto 0 auto;
  background: #2F2F2F;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  pointer-events: none;
}
#burger_button div:first-child {
  margin-top: 0;
}
@media only screen and (max-width: 766px) {
  #burger_button div {
    height: 2px;
    width: 30px;
    margin: 5px auto 0 auto;
  }
}
#menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
  z-index: 101;
  transition: right 0.5s;
}
#menu.active {
  right: 0;
}
#menu_close_container {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu_close div {
  width: 100%;
  height: 2px;
  background: #232323;
}
#menu_close div:last-of-type {
  -webkit-transform: rotate(90deg) translateX(-2px);
  -moz-transform: rotate(90deg) translateX(-2px);
  -ms-transform: rotate(90deg) translateX(-2px);
  -o-transform: rotate(90deg) translateX(-2px);
  transform: rotate(90deg) translateX(-2px);
  transform-origin: center;
}
#menu_nav ul li {
  text-align: center;
}
#menu_nav ul li a {
  font-size: 1.2rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 4.5rem;
}
footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.copyright {
  margin-top: 3%;
  padding-bottom: 2%;
  font-family: 'Lucida', serif;
  font-weight: lighter;
  font-size: 0.5rem;
  color: #232323;
}
.footer_logo {
  margin: 0;
  width: 25vw;
  height: 25vw;
}
@media only screen and (orientation: landscape) {
  .footer_logo {
    width: 25vh;
    height: 25vh;
  }
}
.social {
  margin: 5vw 0;
  width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.social li a i {
  font-size: 7vw;
  margin: 0 3vw;
  color: black;
}
@media only screen and (orientation: landscape) {
  .social li a i {
    font-size: 7vh;
  }
}
.newsletter {
  margin-top: 10%;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter h1 {
  font-size: 10vw;
  margin-bottom: 2.5%;
}
@media only screen and (orientation: landscape) {
  .newsletter h1 {
    font-size: 9.5vh;
  }
}
@media only screen and (min-width: 1000px) and (orientation: portrait) {
  .newsletter h1 {
    font-size: 6.5vw;
  }
}
.newsletter form {
  width: 90%;
}
.newsletter input.newsletter_input {
  width: 100%;
  height: 8vh;
  border: 1px solid black;
  box-sizing: border-box;
}
@media only screen and (orientation: landscape) {
  .newsletter input.newsletter_input {
    height: 10vh;
  }
}
.newsletter input[type="email"]::placeholder {
  text-align: center;
  font-size: 2vw;
  line-height: 2vw;
  vertical-align: middle;
}
.newsletter .button {
  width: 100%;
  height: 7vh;
  margin-top: 1.5vh;
  font-size: 3vw;
}
@media only screen and (orientation: landscape) {
  .newsletter .button {
    height: 10vh;
  }
}
@media only screen and (min-width: 1000px) {
  .newsletter .button {
    font-size: 2.5vw;
  }
}
.banner {
  height: 100vh;
  width: 100%;
  background-image: url("../../images/banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_content {
  margin-top: 15px;
}
@media only screen and (orientation: portrait) {
  .banner_content h1 {
    font-size: 20vw;
    margin-bottom: 13vh;
  }
}
@media only screen and (orientation: landscape) {
  .banner_content h1 {
    font-size: 13vw;
    margin-bottom: 13vh;
  }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .banner_content h1 {
    margin-bottom: 20vh;
  }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
  .banner_content h1 {
    font-size: 10vw;
  }
}
@media only screen and (height: 812px) and (orientation: portrait) {
  .banner_content h1 {
    font-size: 20vw;
  }
}
@media only screen and (width: 812px) and (orientation: landscape) {
  .banner_content h1 {
    margin-top: 13vh;
  }
}
.banner_content .button {
  width: 175px;
  height: 65px;
  font-size: 1.25rem;
  line-height: 66px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .banner_content .button {
    width: 275px;
    height: 110px;
    line-height: 110px;
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .banner_content .button {
    width: 285px;
    height: 100px;
    line-height: 100px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 3000px) and (orientation: landscape) {
  .banner_content .button {
    width: 525px;
    height: 200px;
    line-height: 200px;
    font-size: 4rem;
  }
}
@media only screen and (min-width: 7000px) and (orientation: landscape) {
  .banner_content .button {
    width: 1250px;
    height: 450px;
    line-height: 450px;
    font-size: 8.5rem;
  }
}
.collections {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media only screen and (orientation: landscape) {
  .collections {
    height: 300vh;
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  .collections {
    height: 100vh;
    flex-wrap: wrap;
  }
}
#collection_one,
#collection_two,
#collection_three {
  width: 100%;
  height: calc(100vh/3);
}
@media only screen and (orientation: landscape) {
  #collection_one,
  #collection_two,
  #collection_three {
    height: 100vh;
  }
}
#collection_one img,
#collection_two img,
#collection_three img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  #collection_one {
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  #collection_one img {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  #collection_two,
  #collection_three {
    width: 50%;
    height: 50vh;
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  #collection_two img,
  #collection_three img {
    width: 100%;
  }
}
.arrivals {
  display: flex;
  background-color: #fefefe;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 300vh;
  margin: 5% 0;
}
@media only screen and (min-height: 812px) and (orientation: portrait) {
  .arrivals {
    height: 240vh;
  }
}
@media only screen and (min-width: 1000px) {
  .arrivals {
    width: 95%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
  }
}
.product {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-height: 812px) and (orientation: portrait) {
  .product {
    height: 80vh;
  }
}
.product_image {
  width: 45vh;
  transition: transform 1s;
}
@media only screen and (orientation: landscape) {
  .product_image {
    width: 60vh;
  }
}
@media only screen and (min-width: 1000px) {
  .product_image {
    width: 25vw;
  }
}
.product_info {
  font-size: 3.5vh;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
}
@media only screen and (orientation: portrait) {
  .product_info {
    width: 80vw;
  }
}
@media only screen and (orientation: landscape) {
  .product_info {
    font-size: 3.5vw;
  }
}
@media only screen and (min-width: 1000px) {
  .product_info {
    width: 22vw;
    font-size: 2.5vh;
  }
}
.product_info p {
  margin: 10px auto 0 auto;
}
.offer {
  justify-content: center;
  background-image: url("../../images/extra_2_vert_.jpg");
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  border: 1.5px solid black;
  width: 95%;
  height: 95vh;
  margin: 7% auto;
  box-sizing: border-box;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (orientation: landscape) {
  .offer {
    background-image: url("../../images/extra_2_hor.jpg");
    background-position: center;
  }
}
@media only screen and (min-width: 1000px) {
  .offer {
    border: 2.5px solid black;
  }
}
.offer p {
  font-family: 'Beyond', sans-serif;
  line-height: 1.45;
  letter-spacing: 2px;
  font-size: 18vw;
  color: #232323;
  margin-bottom: 10%;
  text-align: center;
}
@media only screen and (orientation: landscape) {
  .offer p {
    font-size: 17vh;
    line-height: 1.25;
  }
}
@media only screen and (width: 812px) and (orientation: landscape) {
  .offer p {
    margin-bottom: 5%;
  }
}
.offer .button {
  margin-bottom: 7%;
  border: 2px solid black;
  width: 200px;
  height: 75px;
  line-height: 75px;
  font-size: 5vw;
}
@media only screen and (orientation: landscape) {
  .offer .button {
    font-size: 3.5vw;
  }
}
@media only screen and (min-width: 700px) {
  .offer .button {
    font-size: 3vw;
  }
}
@media only screen and (width: 812px) and (orientation: landscape) {
  .offer .button {
    margin-bottom: 12%;
  }
}
@media only screen and (min-width: 959px) {
  .offer .button {
    width: 300px;
    height: 115px;
    line-height: 115px;
    font-size: 4vw;
  }
}
@media only screen and (min-width: 959px) and (orientation: landscape) {
  .offer .button {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 1400px) {
  .offer .button {
    width: 350px;
    height: 130px;
    line-height: 130px;
    font-size: 2vw;
  }
}
@media only screen and (min-width: 3000px) {
  .offer .button {
    width: 700px;
    height: 260px;
    line-height: 260px;
  }
}
@media only screen and (min-width: 6000px) {
  .offer .button {
    width: 1400px;
    height: 520px;
    line-height: 520px;
  }
}
.testimonials {
  margin: 0 5%;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
.test_text {
  width: 95%;
  margin: 0 auto;
  font-family: 'Montserrat', serif;
  font-weight: lighter;
  font-size: 4vh;
  color: #8a8a8a;
  font-style: italic;
  text-align: center;
  line-height: 1.25;
}
@media only screen and (orientation: landscape) {
  .test_text {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 1200px) {
  .test_text {
    font-size: 2.7vw;
  }
}
.test_name {
  font-family: 'Bentham', serif;
  font-weight: lighter;
  text-align: center;
  font-size: 3.5vh;
  font-weight: 700;
  color: #232323;
  margin-top: 5%;
}
@media only screen and (orientation: landscape) {
  .test_name {
    font-size: 3.5vw;
  }
}
.insta_cont {
  position: relative;
  width: 100%;
}
.arrow_cont {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media only screen and (orientation: landscape) {
  .arrow_cont {
    justify-content: space-between;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
  }
}
@media only screen and (min-width: 700px) {
  .arrow_cont {
    bottom: 6%;
  }
}
@media only screen and (orientation: landscape) {
  .arrow_cont {
    bottom: 50%;
  }
}
#gall_right,
#gall_left {
  color: white;
  font-size: 5vh;
}
@media only screen and (orientation: landscape) {
  #gall_right,
  #gall_left {
    font-size: 5vw;
  }
}
#instafeed {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: black;
}
#instafeed .instaimg {
  position: relative;
  left: 0;
  transition: left 1s;
}
#instafeed .instaimg img {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
@media only screen and (orientation: landscape) {
  #instafeed .instaimg img {
    width: 60vw;
    height: auto;
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
@media only screen and (min-width: 600px) and (orientation: landscape) {
  #instafeed .instaimg img {
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
  }
}
@media only screen and (min-width: 800px) and (orientation: landscape) {
  #instafeed .instaimg img {
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  #instafeed .instaimg img {
    width: 56vw;
    margin-left: 22vw;
    margin-right: 22vw;
  }
}
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  #instafeed .instaimg img {
    width: 44vw;
    margin-left: 28vw;
    margin-right: 28vw;
  }
}
