@font-face {
  font-family: 'Bentham';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bentham Regular'), local('Bentham-Regular'), url(https://fonts.gstatic.com/s/bentham/v9/VdGeAZQPEpYfmHglGWsxDA.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUQjIg1_i6t8kCHKm45_QpRyS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_aZA3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
.button {
  font-size: 1rem;
  border: 1px solid black;
  font-family: 'Open Sans';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  width: 190px;
  height: 65px;
  line-height: 65px;
  outline: none;
  background: white;
  opacity: 0.6;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}
.button:hover {
  opacity: 1;
}
*,
body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100vw;
}
ul {
  list-style: none;
}
a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
h1 {
  font-size: 5.5rem;
  font-family: 'Bentham', serif;
  font-weight: 100;
  letter-spacing: 0.025em;
  color: #2F2F2F;
  white-space: nowrap;
}
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  color: #2F2F2F;
  font-family: 'Bentham', serif;
  font-weight: 100;
  font-size: 1.5rem;
  white-space: nowrap;
  margin-top: 15px;
}
@media only screen and (max-width: 575px) {
  h2 {
    font-size: 1.25rem;
  }
}
#header {
  position: fixed;
  height: 100px;
  top: 0;
  width: 100vw;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
@media only screen and (min-width: 1824px) {
  #header {
    height: 250px;
  }
}
@media only screen and (max-width: 800px) {
  #header {
    background: #ffffff;
    height: 66.66666667px;
  }
}
#header.scrolled {
  top: -150px;
}
@media only screen and (max-width: 766px) {
  #header.scrolled {
    height: 110px;
  }
}
#nav_logo_img {
  background-image: url("../../images/logo.png");
  margin-left: 5%;
  background-size: 100%;
  width: 65px;
  height: 65px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media only screen and (min-width: 1824px) {
  #nav_logo_img {
    width: 165px;
    height: 165px;
  }
}
@media only screen and (max-width: 800px) {
  #nav_logo_img {
    width: 43.33333333px;
    height: 43.33333333px;
    margin-left: 2.5%;
  }
}
.main_nav {
  width: 50%;
  margin-right: 5%;
}
@media only screen and (max-width: 1200px) {
  .main_nav {
    width: 65%;
  }
}
@media only screen and (max-width: 700px) {
  .main_nav {
    display: none;
  }
}
.main_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_nav ul li a {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bold;
  letter-spacing: 0.2em;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media only screen and (min-width: 3200px) {
  .main_nav ul li a {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1824px) {
  .main_nav ul li a {
    font-size: 2rem;
  }
}
.nav_icon {
  width: 30px;
  height: 30px;
}
@media only screen and (min-width: 3200px) {
  .nav_icon {
    width: 55px;
    height: 55px;
  }
}
@media only screen and (min-width: 1824px) {
  .nav_icon {
    width: 45px;
    height: 45px;
  }
}
#burger_button {
  display: none;
}
@media only screen and (max-width: 700px) {
  #burger_button {
    display: unset;
    width: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
}
#burger_button div {
  height: 2px;
  width: 40px;
  margin: 10px auto 0 auto;
  background: #2F2F2F;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  pointer-events: none;
}
#burger_button div:first-child {
  margin-top: 0;
}
@media only screen and (max-width: 766px) {
  #burger_button div {
    height: 2px;
    width: 30px;
    margin: 5px auto 0 auto;
  }
}
#menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
  z-index: 101;
  transition: right 0.5s;
}
#menu.active {
  right: 0;
}
#menu_close_container {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu_close div {
  width: 100%;
  height: 2px;
  background: #232323;
}
#menu_close div:last-of-type {
  -webkit-transform: rotate(90deg) translateX(-2px);
  -moz-transform: rotate(90deg) translateX(-2px);
  -ms-transform: rotate(90deg) translateX(-2px);
  -o-transform: rotate(90deg) translateX(-2px);
  transform: rotate(90deg) translateX(-2px);
  transform-origin: center;
}
#menu_nav ul li {
  text-align: center;
}
#menu_nav ul li a {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: lighter;
  color: #2F2F2F;
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 4.5rem;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.footer_nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  margin-top: auto;
}
footer a {
  font-size: 3.5rem;
  color: #232323;
  margin-bottom: 2%;
}
@media only screen and (max-width: 768px) {
  footer a {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 575px) {
  footer a {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  footer a {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 400px) {
  footer a {
    font-size: 1.2rem;
  }
}
footer nav {
  width: 100%;
  margin-bottom: 4%;
}
@media only screen and (max-width: 959px) {
  footer nav {
    width: 60%;
  }
}
footer nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 480px) {
  footer nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer nav ul li a {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #232323;
  font-weight: 600;
  letter-spacing: 0.2em;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media only screen and (max-width: 400px) {
  footer nav ul li a {
    font-size: 0.6rem;
  }
}
footer nav ul li a:hover {
  color: #937c6f;
}
#social {
  width: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 767px) {
  #social {
    width: 20%;
  }
}
#social li a i {
  font-size: 24px;
  color: #937c6f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media only screen and (max-width: 400px) {
  #social li a i {
    font-size: 18px;
  }
}
footer p {
  margin-top: 3%;
  padding-bottom: 2%;
  font-family: 'Lucida', serif;
  font-weight: lighter;
  font-size: 0.5rem;
  color: #232323;
}
@media only screen and (max-width: 400px) {
  footer p {
    font-size: 0.3rem;
  }
}
.newsletter {
  width: 50%;
  text-align: center;
  margin-top: auto;
  align-self: center;
}
.newsletter h1 {
  width: 100%;
  font-size: 3.37rem;
  margin-bottom: 2.5%;
}
.newsletter form {
  width: 100%;
  display: inline-flex;
}
.newsletter input.newsletter_input {
  width: calc(100% - 191px);
  height: 65px;
  border: 1px solid black;
  box-sizing: border-box;
  border-right: none;
}
#home_container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../images/home_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  #home_container {
    background-image: url("../../images/home_background_small.jpg");
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1200px) {
  #home_container {
    background-position: 25%;
  }
}
@media only screen and (max-width: 800px) {
  #home_container {
    background-image: url("../../images/home_background_smaller.jpg");
    background-position: 35%;
  }
}
@media only screen and (max-width: 600px) {
  #home_container {
    background-image: url("../../images/home_background_smallest.jpg");
  }
}
#home_container div {
  position: absolute;
  width: 45%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#home_container div .mobile_header {
  text-align: center;
}
@media only screen and (min-width: 700px) {
  #home_container div .mobile_header {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  #home_container div .comp_header {
    display: none;
  }
}
#home_container div .button {
  margin-top: 60px;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}
.overlay p {
  font-size: 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
#collections {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  #collections {
    margin-top: 10%;
  }
}
#collections_right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.collections_image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.collections_image:hover > .overlay {
  opacity: 0.65;
}
@media only screen and (max-width: 959px) {
  .collections_image {
    height: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .collections_image {
    height: 250px;
  }
}
@media only screen and (max-width: 575px) {
  .collections_image {
    height: 200px;
  }
}
@media only screen and (max-width: 400px) {
  .collections_image {
    height: 100px;
  }
}
#collections_image_1 {
  width: 50%;
  background-image: url("../../images/promo_1.jpg");
}
@media only screen and (max-width: 959px) {
  #collections_image_1 {
    background-image: url("../../images/promo_1_small.jpg");
  }
}
#collections_image_2 {
  background-image: url("../../images/promo_2.jpg");
  height: 50%;
}
@media only screen and (max-width: 959px) {
  #collections_image_2 {
    margin: 3% 0;
  }
}
@media only screen and (max-width: 959px) {
  #collections_image_2 {
    background-image: url("../../images/promo_2_small.jpg");
  }
}
#collections_image_3 {
  background-image: url("../../images/promo_3.jpg");
  height: 50%;
}
@media only screen and (max-width: 959px) {
  #collections_image_3 {
    background-image: url("../../images/promo_3_small.jpg");
  }
}
#arrivals {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
@media only screen and (max-width: 400px) {
  #arrivals {
    margin: 15% 0;
  }
}
.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 959px) {
  .product {
    width: 100%;
  }
}
.product_image {
  width: 100%;
  height: 450px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1380px) {
  .product_image {
    height: 400px;
  }
}
@media only screen and (max-width: 1100px) {
  .product_image {
    background-size: contain;
  }
}
@media only screen and (max-width: 959px) {
  .product_image {
    height: 375px;
    margin: 5% 0;
  }
}
@media only screen and (max-width: 767px) {
  .product_image {
    height: 250px;
    margin-bottom: 2%;
    background-size: contain;
  }
}
@media only screen and (max-width: 480px) {
  .product_image {
    height: 150px;
  }
}
.product_name {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  color: #232323;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media only screen and (max-width: 1380px) {
  .product_name {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1100px) {
  .product_name {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 959px) {
  .product_name {
    font-size: 2.1rem;
  }
}
@media only screen and (max-width: 767px) {
  .product_name {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 575px) {
  .product_name {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .product_name {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 575px) {
  .product_name span {
    display: block;
    text-align: center;
  }
}
.product_name a:hover {
  color: #937c6f;
}
.product_price {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #8a8a8a;
  text-align: center;
}
#product_1 {
  background-image: url("../../images/product_3.jpg");
  transition: background-image 1s;
}
#product_1:hover {
  background-image: url("../../images/product_3_flip.jpg");
}
@media only screen and (max-width: 959px) {
  #product_1 {
    background-image: url("../../images/product_3_small.jpg");
  }
}
#product_2 {
  background-image: url("../../images/product_1.jpg");
  transition: background-image 1s;
}
#product_2:hover {
  background-image: url("../../images/product_1_flip.jpg");
}
@media only screen and (max-width: 959px) {
  #product_2 {
    background-image: url("../../images/product_1_small.jpg");
  }
}
#product_3 {
  background-image: url("../../images/product_2.jpg");
  transition: background-image 1s;
}
#product_3:hover {
  background-image: url("../../images/product_2_flip.jpg");
}
@media only screen and (max-width: 959px) {
  #product_3 {
    background-image: url("../../images/product_2_small.jpg");
  }
}
#extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../images/extra_2.jpg");
  background-position: bottom right;
  background-size: 55%;
  background-repeat: no-repeat;
  padding: 0 5%;
  height: 100vh;
}
@media only screen and (max-width: 959px) {
  #extra {
    flex-direction: column;
    width: 80%;
    margin: 20% auto;
  }
}
@media only screen and (max-width: 1600px) {
  .extra_promo {
    height: 550px;
  }
}
@media only screen and (max-width: 1100px) {
  .extra_promo {
    height: 500px;
  }
}
@media only screen and (max-width: 959px) {
  .extra_promo {
    width: 100%;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 400px) {
  .extra_promo {
    height: 375px;
  }
}
.extra_content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  height: 550px;
  margin: 0 auto;
  padding: 12% 0;
}
@media only screen and (max-width: 1600px) {
  .extra_content {
    height: 470px;
  }
}
@media only screen and (max-width: 1100px) {
  .extra_content {
    width: 85%;
  }
}
@media only screen and (max-width: 959px) {
  .extra_content {
    height: 400px;
  }
}
.extra_content .button {
  margin-top: 3%;
}
#extra_promo_2 {
  border: 2px solid #937c6f;
  background-image: url("../../images/extra_2.jpg");
}
@media only screen and (max-width: 959px) {
  #extra_promo_2 {
    background-image: url('../../images/extra_2_small.jpg');
  }
}
@media only screen and (max-width: 700px) {
  #extra_promo_2 {
    background-image: url('../../images/extra_2_x_small.jpg');
    background-position: right;
  }
}
@media only screen and (max-width: 480px) {
  #extra_promo_2 {
    background-image: url('../../images/extra_2_smallest.jpg');
    background-position: left;
  }
}
#extra_text {
  font-family: 'Beyond', sans-serif;
  line-height: 2;
  letter-spacing: 3px;
  font-size: 7.25rem;
  color: #232323;
  margin-bottom: 10%;
}
@media only screen and (max-width: 1100px) {
  #extra_text {
    font-size: 4rem;
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 959px) {
  #extra_text {
    font-size: 5.25rem;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 767px) {
  #extra_text {
    font-size: 4.5rem;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 575px) {
  #extra_text {
    font-size: 5rem;
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 480px) {
  #extra_text {
    width: 100%;
    font-size: 4rem;
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  #extra_text {
    font-size: 3.3rem;
    margin-bottom: 20%;
  }
}
#extra_2 {
  padding: 0;
  margin-left: 7%;
}
@media only screen and (max-width: 1100px) {
  #extra_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 959px) {
  #extra_2 {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 480px) {
  #extra_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 400px) {
  #extra_2 {
    justify-content: center;
  }
}
#extra .button {
  align-self: start;
  margin-bottom: 15%;
  margin-left: 12.5%;
  border: 2px solid black;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1100px) {
  #extra .button {
    margin-top: 0;
  }
}
@media only screen and (max-width: 959px) {
  #extra .button {
    margin-top: 0%;
  }
}
@media only screen and (max-width: 480px) {
  #extra .button {
    margin: 5% auto 0 auto;
  }
}
#testimonials {
  margin: 0 5%;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
.test_text {
  width: 85%;
  margin: 0 auto;
  font-family: 'Lucida', serif;
  font-weight: lighter;
  font-size: 2.25rem;
  color: #8a8a8a;
  font-style: italic;
  text-align: center;
  line-height: 1.75;
}
@media only screen and (max-width: 767px) {
  .test_text {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 575px) {
  .test_text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 400px) {
  .test_text {
    font-size: 0.85rem;
    margin-bottom: 3%;
  }
}
.test_name {
  font-family: 'Lucida', serif;
  font-weight: lighter;
  text-align: center;
  font-size: 1.55rem;
  font-weight: 700;
  color: #232323;
  margin-top: 2%;
}
@media only screen and (max-width: 400px) {
  .test_name {
    font-size: 0.9rem;
  }
}
#instaCont {
  background: black;
  position: relative;
}
.arrow {
  font-size: 2rem;
  position: absolute;
}
#instarrow1 {
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
#instarrow2 {
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
#instafeed {
  position: relative;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
#instafeed .instaimg {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 1s;
}
/********************************
ABOUT SECTION
********************************/
#about_photo_mobile {
  display: none;
}
@media only screen and (max-width: 775px) {
  #about_photo_mobile {
    display: unset;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 100px;
    width: 500px;
    height: 500px;
  }
}
@media only screen and (max-width: 575px) {
  #about_photo_mobile {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 400px) {
  #about_photo_mobile {
    width: 300px;
    height: 300px;
    margin-bottom: 75px;
  }
}
#about_section {
  padding-top: 300px;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 766px) {
  #about_section {
    padding-top: 230px;
  }
}
@media only screen and (max-width: 775px) {
  #about_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#about_section h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 75px;
  margin-top: 0;
}
@media only screen and (max-width: 775px) {
  #about_section h1 {
    margin-bottom: 0;
  }
}
#about_photo {
  display: inline-block;
  float: left;
  margin-right: 5%;
  margin-bottom: 2%;
}
@media only screen and (max-width: 991px) {
  #about_photo {
    height: 300px;
    width: 300px;
  }
}
@media only screen and (max-width: 775px) {
  #about_photo {
    display: none;
  }
}
@media only screen and (max-width: 775px) {
  #about_text {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 400px) {
  #about_text {
    margin-top: 0;
  }
}
#about_text p {
  color: #2F2F2F;
  font-size: 1rem;
}
@media only screen and (max-width: 775px) {
  #about_text p {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  #about_text p {
    font-size: 0.9rem;
    margin-top: 6.5%;
  }
}
/* CSS Document */
/*********************************
 - CONTACT FORM & INFO
 ********************************/
#review_form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
  background-color: #f9f5f5;
}
@media only screen and (max-width: 766px) {
  #review_form_container {
    padding-top: 230px;
  }
}
#review_form_container h1 {
  margin-bottom: 75px;
}
#review_form_container form {
  width: 85%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media only screen and (max-width: 575px) {
  #review_form_container form {
    flex-direction: column;
  }
}
#review_form_container form div {
  width: 48%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 575px) {
  #review_form_container form div {
    width: 100%;
    height: 180px;
    margin-bottom: 5%;
  }
}
#review_form_container textarea {
  width: 48%;
  height: 250px;
  border: none;
}
@media only screen and (max-width: 575px) {
  #review_form_container textarea {
    width: 100%;
  }
}
#review_form_container button {
  margin-top: 20px;
}
.review_form_input {
  height: 65px;
  width: 100%;
  border: none;
}
.review_form_input::-webkit-input-placeholder,
#review_form_container textarea {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #8c8c8c;
}
.review_form_input:-moz-placeholder,
#review_form_container textarea {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #8c8c8c;
}
.review_form_input::-moz-placeholder,
#review_form_container textarea {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #8c8c8c;
}
.review_form_input:-ms-input-placeholder,
#review_form_container textarea {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #8c8c8c;
}
.review_form_input::input-placeholder,
#review_form_container textarea {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #8c8c8c;
}
#thank_you {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 350px;
  margin-bottom: 200px;
}
@media only screen and (max-width: 766px) {
  #thank_you {
    padding-top: 230px;
  }
}
@media only screen and (max-width: 400px) {
  #thank_you {
    padding-top: 250px;
  }
}
#thank_you p {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  #thank_you p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 400px) {
  #thank_you p {
    font-size: 1rem;
  }
}
#thank_you a {
  width: 275px;
  margin-top: 30px;
}
@media only screen and (max-width: 400px) {
  #thank_you a {
    margin-top: 50px;
  }
}
