.section_title {
  font-family: 'Lucida', serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 3.5rem;
  padding: 7% 0 0 0;
  height: 100px;
  color: #2f2f2f;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 400px) {
  .section_title {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 575px) {
  .section_title {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .section_title {
    font-size: 1.7rem;
  }
}
.button {
  font-size: 1rem;
  font-family: 'Open Sans';
  font-weight: lighter;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.2em;
  width: 190px;
  padding: 20px 0;
  border: none;
  outline: none;
  background: #937c6f;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}
.button:hover {
  background: #e0e3e4;
  color: #232323;
}
