.button {
  display: block;
  border: 1px solid black;
  font-family: 'Monserrat';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  outline: none;
  background: white;
  opacity: 0.6;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
.insta_cont {
  position: relative;
  width: 100%;
}
.arrow_cont {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media only screen and (orientation: landscape) {
  .arrow_cont {
    justify-content: space-between;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
  }
}
@media only screen and (min-width: 700px) {
  .arrow_cont {
    bottom: 6%;
  }
}
@media only screen and (orientation: landscape) {
  .arrow_cont {
    bottom: 50%;
  }
}
#gall_right,
#gall_left {
  color: white;
  font-size: 5vh;
}
@media only screen and (orientation: landscape) {
  #gall_right,
  #gall_left {
    font-size: 5vw;
  }
}
#instafeed {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: black;
}
#instafeed .instaimg {
  position: relative;
  left: 0;
  transition: left 1s;
}
#instafeed .instaimg img {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
@media only screen and (orientation: landscape) {
  #instafeed .instaimg img {
    width: 60vw;
    height: auto;
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
@media only screen and (min-width: 600px) and (orientation: landscape) {
  #instafeed .instaimg img {
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
  }
}
@media only screen and (min-width: 800px) and (orientation: landscape) {
  #instafeed .instaimg img {
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  #instafeed .instaimg img {
    width: 56vw;
    margin-left: 22vw;
    margin-right: 22vw;
  }
}
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  #instafeed .instaimg img {
    width: 44vw;
    margin-left: 28vw;
    margin-right: 28vw;
  }
}
