.navbar-nav {
  font-size: 2rem;
  height: calc(100vh - 70px);

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
    height: 65px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 5%;
    width: 50%;
  }
}

#header {
  transition: 0.5s;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
}

#burger:focus {
  outline: none !important;
}
