@import 'mixins.less';


.button
{
	font-size: 1rem;
	font-family: 'Open Sans';
  text-transform: uppercase;
  color: black;
	letter-spacing: 0.2em;
	width: 190px;
	padding: 20px 0;
	border: none;
  outline: none;
  background: white;
  opacity: .60;
	.txtAlCent();
	.trans200();
  cursor: pointer;

  &:hover
  {
    opacity: 1;
  }
}
