@white: #FFFFFF;
@dgray: #2F2F2F;
@div_fact_small: 1.50;
@div_fact_mid: 1.75;
@logo_width: 65px;
@logo_width_small: @logo_width/@div_fact_small;
@logo_height: 65px;
@logo_height_small: @logo_height/@div_fact_small;
@header_height: 100px;
@header_height_small: @header_height/@div_fact_small;
@header_height_mid: @header_height/@div_fact_mid;