.button {
  display: block;
  border: 1px solid black;
  font-family: 'Monserrat';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  outline: none;
  background: white;
  opacity: 0.6;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
#burger_button {
  display: none;
}
@media only screen and (max-width: 700px) {
  #burger_button {
    display: unset;
    width: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
}
#burger_button div {
  height: 2px;
  width: 40px;
  margin: 10px auto 0 auto;
  background: #2F2F2F;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  pointer-events: none;
}
#burger_button div:first-child {
  margin-top: 0;
}
@media only screen and (max-width: 766px) {
  #burger_button div {
    height: 2px;
    width: 30px;
    margin: 5px auto 0 auto;
  }
}
