.button {
  display: block;
  border: 1px solid black;
  font-family: 'Monserrat';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  outline: none;
  background: white;
  opacity: 0.6;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
.collections {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .collections {
    height: 300vh;
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  .collections {
    flex-wrap: wrap;
  }
}
.collections_image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh/3);
}
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .collections_image {
    height: 100vh;
  }
}
#coll_one {
  background-image: url('../../images/promo_1_xs.jpg');
  background-size: cover;
  background-position: center;
}
@media only screen (min-width: 500px) {
  #coll_one {
    background-image: url('../../images/promo_1_medium.jpg');
  }
}
@media only screen (min-width: 850px) {
  #coll_one {
    background-image: url('../../images/promo_1_.jpg');
  }
}
#coll_two {
  background-image: url('../../images/promo_2.jpg');
  background-size: cover;
  background-position: center;
}
#coll_three {
  background-image: url('../../images/promo_3_small.jpg');
  background-size: cover;
  background-position: center;
}
@media only screen (min-width: 500px) {
  #coll_three {
    background-image: url('../../images/promo_3_.jpg');
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  #coll_three {
    height: 100vh;
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  #coll_one,
  #coll_two {
    height: 50vh;
    width: 50%;
  }
}
