.button {
  display: block;
  border: 1px solid black;
  font-family: 'Monserrat';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  outline: none;
  background: white;
  opacity: 0.6;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
.newsletter {
  margin-top: 10%;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter h1 {
  font-size: 10vw;
  margin-bottom: 2.5%;
}
@media only screen and (orientation: landscape) {
  .newsletter h1 {
    font-size: 9.5vh;
  }
}
@media only screen and (min-width: 1000px) and (orientation: portrait) {
  .newsletter h1 {
    font-size: 6.5vw;
  }
}
.newsletter form {
  width: 90%;
}
.newsletter input.newsletter_input {
  width: 100%;
  height: 8vh;
  border: 1px solid black;
  box-sizing: border-box;
}
@media only screen and (orientation: landscape) {
  .newsletter input.newsletter_input {
    height: 10vh;
  }
}
.newsletter input[type="email"]::placeholder {
  text-align: center;
  font-size: 2vw;
  line-height: 2vw;
  vertical-align: middle;
}
.newsletter .button {
  width: 100%;
  height: 7vh;
  margin-top: 1.5vh;
  font-size: 3vw;
}
@media only screen and (orientation: landscape) {
  .newsletter .button {
    height: 10vh;
  }
}
@media only screen and (min-width: 1000px) {
  .newsletter .button {
    font-size: 2.5vw;
  }
}
