.button {
  display: block;
  border: 1px solid black;
  font-family: 'Monserrat';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  outline: none;
  background: white;
  opacity: 0.6;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
.newsletter {
  width: 50%;
  text-align: center;
  align-self: center;
}
@media only screen and (max-width: 959px) {
  .newsletter {
    width: 75%;
  }
}
.newsletter h1 {
  font-size: 3.37rem;
  margin-bottom: 2.5%;
}
@media only screen and (max-width: 959px) {
  .newsletter h1 {
    font-size: 2.5rem;
    margin-bottom: 4%;
  }
}
.newsletter form {
  width: 100%;
  display: inline-flex;
}
@media only screen and (max-width: 959px) {
  .newsletter form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.newsletter input.newsletter_input {
  width: calc(100% - 191px);
  height: 65px;
  border: 1px solid black;
  box-sizing: border-box;
  border-right: none;
}
@media only screen and (max-width: 959px) {
  .newsletter input.newsletter_input {
    height: 35px;
    width: 100%;
    border-right: 1px solid black;
    border-bottom: none;
  }
}
@media only screen and (max-width: 959px) {
  .newsletter .button {
    height: 35px;
    line-height: 35px;
    width: 100%;
  }
}
