.button {
  display: block;
  border: 1px solid black;
  font-family: 'Monserrat';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  outline: none;
  background: white;
  opacity: 0.6;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Bentham';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bentham Regular'), local('Bentham-Regular'), url(https://fonts.gstatic.com/s/bentham/v9/VdGeAZQPEpYfmHglGWsxDA.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUQjIg1_i6t8kCHKm45_QpRyS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_aZA3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
.banner_content {
  margin-top: 15px;
}
.banner_content h1 {
  font-size: 13vw;
  margin-bottom: 10vh;
}
@media only screen and (max-height: 812px) and (orientation: portrait) {
  .banner_content h1 {
    font-size: 25vw;
  }
}
@media only screen and (max-width: 812px) and (orientation: landscape) {
  .banner_content h1 {
    margin-top: 10vh;
  }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .banner_content h1 {
    font-size: 20vw;
  }
}
.banner_content .button {
  width: 200px;
  height: 66px;
  font-size: 1.25rem;
  line-height: 66px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .banner_content .button {
    width: 325px;
    height: 108px;
    line-height: 108px;
    font-size: 1.9rem;
  }
}
