.button {
  display: block;
  border: 1px solid black;
  font-family: 'Monserrat';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  outline: none;
  background: white;
  opacity: 0.6;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
.banner_content {
  margin-top: 15px;
}
@media only screen and (orientation: portrait) {
  .banner_content h1 {
    font-size: 20vw;
    margin-bottom: 13vh;
  }
}
@media only screen and (orientation: landscape) {
  .banner_content h1 {
    font-size: 13vw;
    margin-bottom: 13vh;
  }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .banner_content h1 {
    margin-bottom: 20vh;
  }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
  .banner_content h1 {
    font-size: 10vw;
  }
}
@media only screen and (height: 812px) and (orientation: portrait) {
  .banner_content h1 {
    font-size: 20vw;
  }
}
@media only screen and (width: 812px) and (orientation: landscape) {
  .banner_content h1 {
    margin-top: 13vh;
  }
}
.banner_content .button {
  width: 175px;
  height: 65px;
  font-size: 1.25rem;
  line-height: 66px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .banner_content .button {
    width: 275px;
    height: 110px;
    line-height: 110px;
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .banner_content .button {
    width: 285px;
    height: 100px;
    line-height: 100px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 3000px) and (orientation: landscape) {
  .banner_content .button {
    width: 525px;
    height: 200px;
    line-height: 200px;
    font-size: 4rem;
  }
}
@media only screen and (min-width: 7000px) and (orientation: landscape) {
  .banner_content .button {
    width: 1250px;
    height: 450px;
    line-height: 450px;
    font-size: 8.5rem;
  }
}
