.button {
  display: block;
  border: 1px solid black;
  font-family: 'Monserrat';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  outline: none;
  background: white;
  opacity: 0.6;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
.testimonials {
  margin: 0 5%;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
.test_text {
  width: 95%;
  margin: 0 auto;
  font-family: 'Montserrat', serif;
  font-weight: lighter;
  font-size: 4vh;
  color: #8a8a8a;
  font-style: italic;
  text-align: center;
  line-height: 1.25;
}
@media only screen and (orientation: landscape) {
  .test_text {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 1200px) {
  .test_text {
    font-size: 2.7vw;
  }
}
.test_name {
  font-family: 'Bentham', serif;
  font-weight: lighter;
  text-align: center;
  font-size: 3.5vh;
  font-weight: 700;
  color: #232323;
  margin-top: 5%;
}
@media only screen and (orientation: landscape) {
  .test_name {
    font-size: 3.5vw;
  }
}
