@import "../tools/mixins.less";

#arrivals
{
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;

	@media only screen and (max-width: 959px)
	{
		flex-direction: column;
		height: 300vh;
	}
}

.product
{
	width: calc(100vw / 3);
	.flex(@dir: column, @wrap: nowrap, @al: center, @jus: center,);
	// border: 2px solid red;
	
	@media only screen and (max-width: 959px)
	{
		width: 100vw;
		height: 100vh;
	}
}

.product_image
{
	width: 100%;
	height: calc(100vh /2);
	.imgbgcent();
	background-size: 100%;
	// border: 2px solid red;
}

.product_info
{
	font-size: 1.3rem;
	font-family: 'Montserrat', sans-serif;
	color: black;
	.txtAlCent();

	@media only screen and (min-width: 600px) and (max-width: 800px) {
		font-size: 1.8rem;	
	}

	span {
		@media only screen and (max-width: 1200px) {
			display: block;
			text-align: center;
		}
	}

	p {
		margin-top: 10px;
	}
}

#product_1
{
	background-image: url("../../images/product_3.jpg");
	transition: background-image 1s;


	&:hover {
		background-image: url("../../images/product_3_flip.jpg");
	}

	@media only screen and (max-width: 959px)
	{
		background-image: url("../../images/product_3_small.jpg");
	}
}

#product_2
{
	background-image: url("../../images/product_1.jpg");
	transition: background-image 1s;

	&:hover {
		background-image: url("../../images/product_1_flip.jpg");
	}

	@media only screen and (max-width: 959px)
	{
		background-image: url("../../images/product_1_small.jpg");
	}
}

#product_3
{
	background-image: url("../../images/product_2.jpg");
	transition: background-image 1s;
	
	&:hover {
		background-image: url("../../images/product_2_flip.jpg");
	}

	@media only screen and (max-width: 959px)
	{
		background-image: url("../../images/product_2_small.jpg");
	}
}

