.button {
  display: block;
  border: 1px solid black;
  font-family: 'Monserrat';
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
  outline: none;
  background: white;
  opacity: 0.6;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Bentham';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bentham Regular'), local('Bentham-Regular'), url(https://fonts.gstatic.com/s/bentham/v9/VdGeAZQPEpYfmHglGWsxDA.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUQjIg1_i6t8kCHKm45_QpRyS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_aZA3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Beyond';
  src: url('../../fonts/beyond_the_mountains.otf') format('opentype'), url('../../fonts/beyond_the_mountains.ttf') format('truetype');
}
.offer {
  justify-content: center;
  background-image: url("../../images/extra_2_vert_.jpg");
  background-size: 100% auto;
  background-position: top;
  border: 1.5px solid black;
  width: 95%;
  height: 95vh;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (orientation: landscape) {
  .offer {
    background-image: url("../../images/extra_2_hor.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 1000px) {
  .offer {
    border: 2.5px solid black;
  }
}
.offer p {
  font-family: 'Beyond', sans-serif;
  line-height: 1.45;
  letter-spacing: 2px;
  font-size: 18vw;
  color: #232323;
  margin-bottom: 10%;
  text-align: center;
}
@media only screen and (orientation: landscape) {
  .offer p {
    font-size: 17vh;
    line-height: 1.25;
  }
}
.offer .button {
  margin-bottom: 7%;
  border: 2px solid black;
  width: 200px;
  height: 75px;
  line-height: 75px;
  font-size: 5vw;
}
@media only screen and (orientation: landscape) {
  .offer .button {
    font-size: 3.5vw;
  }
}
@media only screen and (min-width: 700px) {
  .offer .button {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 959px) {
  .offer .button {
    width: 300px;
    height: 115px;
    line-height: 115px;
    font-size: 4vw;
  }
}
@media only screen and (min-width: 959px) and (orientation: landscape) {
  .offer .button {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 1400px) {
  .offer .button {
    width: 350px;
    height: 130px;
    line-height: 130px;
    font-size: 2vw;
  }
}
@media only screen and (min-width: 3000px) {
  .offer .button {
    width: 700px;
    height: 260px;
    line-height: 260px;
  }
}
@media only screen and (min-width: 6000px) {
  .offer .button {
    width: 1400px;
    height: 520px;
    line-height: 520px;
  }
}
