.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}
.overlay p {
  font-size: 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
#collections {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  #collections {
    margin-top: 10%;
  }
}
#collections_right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.collections_image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.collections_image:hover > .overlay {
  opacity: 0.65;
}
@media only screen and (max-width: 959px) {
  .collections_image {
    height: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .collections_image {
    height: 250px;
  }
}
@media only screen and (max-width: 575px) {
  .collections_image {
    height: 200px;
  }
}
@media only screen and (max-width: 400px) {
  .collections_image {
    height: 100px;
  }
}
#collections_image_1 {
  width: 50%;
  background-image: url("../../images/promo_1.jpg");
}
@media only screen and (max-width: 959px) {
  #collections_image_1 {
    background-image: url("../../images/promo_1_small.jpg");
  }
}
#collections_image_2 {
  background-image: url("../../images/promo_2.jpg");
  height: 50%;
}
@media only screen and (max-width: 959px) {
  #collections_image_2 {
    margin: 3% 0;
  }
}
@media only screen and (max-width: 959px) {
  #collections_image_2 {
    background-image: url("../../images/promo_2_small.jpg");
  }
}
#collections_image_3 {
  background-image: url("../../images/promo_3.jpg");
  height: 50%;
}
@media only screen and (max-width: 959px) {
  #collections_image_3 {
    background-image: url("../../images/promo_3_small.jpg");
  }
}
