#extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../images/extra_2.jpg");
  background-position: bottom right;
  background-size: 55%;
  background-repeat: no-repeat;
  padding: 0 5%;
  height: 100vh;
}
@media only screen and (max-width: 959px) {
  #extra {
    flex-direction: column;
    width: 80%;
    margin: 20% auto;
  }
}
@media only screen and (max-width: 1600px) {
  .extra_promo {
    height: 550px;
  }
}
@media only screen and (max-width: 1100px) {
  .extra_promo {
    height: 500px;
  }
}
@media only screen and (max-width: 959px) {
  .extra_promo {
    width: 100%;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 400px) {
  .extra_promo {
    height: 375px;
  }
}
.extra_content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  height: 550px;
  margin: 0 auto;
  padding: 12% 0;
}
@media only screen and (max-width: 1600px) {
  .extra_content {
    height: 470px;
  }
}
@media only screen and (max-width: 1100px) {
  .extra_content {
    width: 85%;
  }
}
@media only screen and (max-width: 959px) {
  .extra_content {
    height: 400px;
  }
}
.extra_content .button {
  margin-top: 3%;
}
#extra_promo_2 {
  border: 2px solid #937c6f;
  background-image: url("../../images/extra_2.jpg");
}
@media only screen and (max-width: 959px) {
  #extra_promo_2 {
    background-image: url('../../images/extra_2_small.jpg');
  }
}
@media only screen and (max-width: 700px) {
  #extra_promo_2 {
    background-image: url('../../images/extra_2_x_small.jpg');
    background-position: right;
  }
}
@media only screen and (max-width: 480px) {
  #extra_promo_2 {
    background-image: url('../../images/extra_2_smallest.jpg');
    background-position: left;
  }
}
#extra_text {
  font-family: 'Beyond', sans-serif;
  line-height: 2;
  letter-spacing: 3px;
  font-size: 7.25rem;
  color: #232323;
  margin-bottom: 10%;
}
@media only screen and (max-width: 1100px) {
  #extra_text {
    font-size: 4rem;
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 959px) {
  #extra_text {
    font-size: 5.25rem;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 767px) {
  #extra_text {
    font-size: 4.5rem;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 575px) {
  #extra_text {
    font-size: 5rem;
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 480px) {
  #extra_text {
    width: 100%;
    font-size: 4rem;
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  #extra_text {
    font-size: 3.3rem;
    margin-bottom: 20%;
  }
}
#extra_2 {
  padding: 0;
  margin-left: 7%;
}
@media only screen and (max-width: 1100px) {
  #extra_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 959px) {
  #extra_2 {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 480px) {
  #extra_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 400px) {
  #extra_2 {
    justify-content: center;
  }
}
#extra .button {
  align-self: start;
  margin-bottom: 15%;
  margin-left: 12.5%;
  border: 2px solid black;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1100px) {
  #extra .button {
    margin-top: 0;
  }
}
@media only screen and (max-width: 959px) {
  #extra .button {
    margin-top: 0%;
  }
}
@media only screen and (max-width: 480px) {
  #extra .button {
    margin: 5% auto 0 auto;
  }
}
