#testimonials {
  margin: 0 5%;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
.test_text {
  width: 85%;
  margin: 0 auto;
  font-family: 'Lucida', serif;
  font-weight: lighter;
  font-size: 2.25rem;
  color: #8a8a8a;
  font-style: italic;
  text-align: center;
  line-height: 1.75;
}
@media only screen and (max-width: 767px) {
  .test_text {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 575px) {
  .test_text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 400px) {
  .test_text {
    font-size: 0.85rem;
    margin-bottom: 3%;
  }
}
.test_name {
  font-family: 'Lucida', serif;
  font-weight: lighter;
  text-align: center;
  font-size: 1.55rem;
  font-weight: 700;
  color: #232323;
  margin-top: 2%;
}
@media only screen and (max-width: 400px) {
  .test_name {
    font-size: 0.9rem;
  }
}
